.fcm {
	font-family: "Lucida Grande", Helvetica,Arial, Verdana, sans-serif;
	padding: 0px 0px 5px 0px;
	border: 1px solid #A6C9E2;
	width: 200px;
	margin: 40px 0px 0px 10px;
	float: left;
}

.fcm-events {
	list-style-type: none;
	padding: 5px 0px 0px 5px;
	margin: 5px;
}

.fcm-event {
	border-bottom: 1px solid #F5F8F9;
	padding-top:2px;
	cursor: pointer;
}

.fcm-event-active {
	background-color: #F5F8F9;
}

.fcm-current-day-wrapper {
	background: #F5F8F9;
	margin: 0px;
	padding: 2px;
}
		
.fcm-current-day {
	font-size: 20px;
	padding: 0px;
	margin: 0px auto;
	width: 100px;	
}
		
.fcm-title {
	font-size:10px;
}
		
.fcm-hrcolor {
	color: #F5F8F9;
}
		
.fcm-form {
	padding: 5px;
}

.fcm-cancel {
	font-size: 12px;
	color: #3366CC;
}

.fcm-action input {
	float: left;
	margin-right: 10px;
}
	
